.container{
    display: flex;
}

.mainbox{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 250px;
    background-image: linear-gradient(#bb75b8, #99b1d4);
    width: 1750px;
    height: 1000px;
}

.sun{
    border: 2px;
    border-radius: 5px;
    background-color: darkorange;
}

.appexe{
    background-color: #2a3999;
    color: white;
    font-size: 18px;
}

.window{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}