.Link{
    text-decoration: none;
    color: black;
}
.mainbox{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 250px;
    background-image: linear-gradient(black, #ffffff);
    width: 1750px;
    height: 260px;
    border: 2px solid black;
}
.navbar{
  display: flex;
}
.navmoba{
    
    background-image: linear-gradient(#bb75b8, #99b1d4);
    font-family:sans-serif;
    font-weight: bold;
    font-size:small;
    height: 25px;
    width: 180px;
    border-color: white;
    border-width: 1px;
    
}
